<header>
  <h1>Imports</h1>
  <label tuiInputFiles>
    <input
      [accept]="importService.IMPORT_FILE_TYPE"
      tuiInputFiles
      [formControl]="uploadedImportFile"
    />
  </label>
</header>
@for (request of importHistoryItems(); track request.id) {
<div
  tuiAppearance="floating"
  tuiCardLarge
  class="import-history-item tui-space_top-4"
>
  <section>
    <span class="import-history-item__left-content">
      <p><b>ID:</b> {{ request.id }}</p>
      @if (authService.currentUser?.accountType === 'ADMIN') {
      <tui-badge appearance="primary" iconStart="@tui.user" size="xl">
        {{ request.owner.username }}
      </tui-badge>
      }
    </span>
    <span class="import-history-item__right-content">
      @if (request.status === 'COMPLETED') {
      <tui-badge appearance="success" iconStart="@tui.check" size="xl">
        Added: {{ request.numberOfAddedObjects }}
      </tui-badge>
      } @else {
      <tui-badge appearance="error" iconStart="@tui.frown" size="xl">
        Failed
      </tui-badge>
      } @if (request.fileUrl) {
      <a
        appearance="flat"
        iconStart="@tui.file-down"
        size="m"
        tuiIconButton
        [href]="request.fileUrl"
      >
        Download
      </a>
      }
    </span>
  </section>
</div>
}
