@if (isLoading()) {
<div class="tui-form__loader">
  <tui-loader></tui-loader>
</div>
} @else {
<form [formGroup]="dragonForm!" class="main-form">
  @if (context.data.mode === 'read') {
  <tui-textfield class="tui-form__row">
    <label tuiLabel>ID</label>
    <input tuiTextfield formControlName="id" [readOnly]="true" />
  </tui-textfield>
  }
  <!--  -->
  @if (context.data.mode === 'read') {
  <tui-input-date
    formControlName="creationDate"
    class="tui-form__row"
    [readOnly]="true"
  >
    Creation Date
    <input placeholder="Placeholder" tuiTextfieldLegacy [readOnly]="true" />
    <span class="tui-required"></span>
  </tui-input-date>
  }

  <tui-textfield class="tui-form__row">
    <label tuiLabel>Name</label>
    <input tuiTextfield formControlName="name" />
  </tui-textfield>
  <tui-error formControlName="name" [error]="[] | tuiFieldError | async" />

  <div formGroupName="coordinates" class="inner-form">
    <h3 class="tui-form__header">Coordinates</h3>

    @if (isEditable) {
    <tui-select
      class="tui-form__row"
      formControlName="existing"
      tuiTextfieldSize="s"
    >
      Coordinates
      <input tuiTextfieldLegacy placeholder="Coordinates" />
      <tui-data-list-wrapper *tuiDataList [items]="coordinates() ?? []" />
    </tui-select>
    } @else {
    <div class="tui-form__row tui-form__row_multi-fields">
      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>X</label>
        <input tuiTextfield formControlName="x" />
      </tui-textfield>

      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>Y</label>
        <input tuiTextfield formControlName="y" />
      </tui-textfield>
    </div>
    }
  </div>

  <div formGroupName="cave" class="inner-form">
    <h3 class="tui-form__header">Cave</h3>

    @if (isEditable) {
    <tui-select
      class="tui-form__row"
      formControlName="existing"
      tuiTextfieldSize="s"
    >
      Caves
      <input tuiTextfieldLegacy placeholder="Caves" />
      <tui-data-list-wrapper *tuiDataList [items]="dragonCaves() ?? []" />
    </tui-select>
    } @else {
    <div class="tui-form__row tui-form__row_multi-fields">
      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>Number of treasures</label>
        <input tuiTextfield formControlName="numberOfTreasures" />
      </tui-textfield>
    </div>
    }
  </div>

  <div formGroupName="killer" class="inner-form">
    <h3 class="tui-form__header">Killer</h3>

    @if (isEditable) {
    <tui-select
      class="tui-form__row"
      formControlName="existing"
      tuiTextfieldSize="s"
    >
      People
      <input tuiTextfieldLegacy placeholder="People" />
      <tui-data-list-wrapper *tuiDataList [items]="people() ?? []" />
    </tui-select>
    } @else {
    <div class="tui-form__row tui-form__row_multi-fields">
      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>Name</label>
        <input tuiTextfield formControlName="name" />
      </tui-textfield>
    </div>

    <tui-select
      class="tui-form__row"
      formControlName="eyeColor"
      tuiTextfieldSize="s"
    >
      Eye color
      <input tuiTextfieldLegacy placeholder="Eye Color" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="['green', 'black', 'blue', 'yellow', 'brown']"
      />
    </tui-select>

    <tui-select
      class="tui-form__row"
      formControlName="hairColor"
      tuiTextfieldSize="s"
    >
      Hair color
      <input tuiTextfieldLegacy placeholder="Hair Color" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="['green', 'black', 'blue', 'yellow', 'brown']"
      />
    </tui-select>

    <div formGroupName="location">
      <h4>Location</h4>

      <div class="tui-form__row tui-form__row_multi-fields">
        <tui-textfield class="tui-form__multi-field">
          <label tuiLabel>X</label>
          <input tuiTextfield formControlName="x" />
        </tui-textfield>

        <tui-textfield class="tui-form__multi-field">
          <label tuiLabel>Y</label>
          <input tuiTextfield formControlName="y" />
        </tui-textfield>

        <tui-textfield class="tui-form__multi-field">
          <label tuiLabel>Name</label>
          <input tuiTextfield formControlName="name" />
        </tui-textfield>
      </div>
    </div>

    <tui-input-date formControlName="birthday" class="tui-form__row">
      Birthday
      <input placeholder="Birthday" tuiTextfieldLegacy />
    </tui-input-date>

    <tui-textfield class="tui-form__row">
      <label tuiLabel>Height</label>
      <input tuiTextfield formControlName="height" />
    </tui-textfield>

    <tui-textfield class="tui-form__row">
      <label tuiLabel>Passport ID</label>
      <input tuiTextfield formControlName="passportId" />
    </tui-textfield>
    }
  </div>

  <tui-input-number formControlName="age"> Age </tui-input-number>
  <tui-error formControlName="age" [error]="[] | tuiFieldError | async" />

  <tui-select
    class="tui-form__row"
    formControlName="color"
    tuiTextfieldSize="s"
  >
    Color
    <input tuiTextfieldLegacy placeholder="Color" />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="['green', 'black', 'blue', 'yellow', 'brown']"
    />
  </tui-select>

  <tui-select class="tui-form__row" formControlName="type" tuiTextfieldSize="s">
    Type
    <input tuiTextfieldLegacy placeholder="Type" />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="['underground', 'air', 'fire']"
    />
  </tui-select>

  <tui-select
    class="tui-form__row"
    formControlName="character"
    tuiTextfieldSize="s"
  >
    Character
    <input tuiTextfieldLegacy placeholder="Character" />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="['cunning', 'wise', 'evil', 'fickle']"
    />
  </tui-select>

  <div formGroupName="head" class="inner-form">
    <h3 class="tui-form__header">Head</h3>

    @if (isEditable) {
    <tui-select
      class="tui-form__row"
      formControlName="existing"
      tuiTextfieldSize="s"
    >
      Heads
      <input tuiTextfieldLegacy placeholder="Heads" />
      <tui-data-list-wrapper *tuiDataList [items]="dragonHeads() ?? []" />
    </tui-select>
    } @else {

    <div class="tui-form__row tui-form__row_multi-fields">
      <tui-textfield class="tui-form__multi-field">
        <label tuiLabel>Size</label>
        <input tuiTextfield formControlName="size" />
      </tui-textfield>
    </div>
    }
  </div>

  @if (context.data.mode === 'create') {
  <label class="checkbox">
    <input tuiCheckbox type="checkbox" formControlName="canBeEditedByAdmin" />
    <span>Can be edited by admin</span>
  </label>
  }
  <!--  -->
  @if (isEditable) {
  <div class="tui-form__buttons">
    <button
      size="l"
      tuiButton
      type="submit"
      class="tui-form__button"
      [disabled]="!dragonForm?.valid"
      (click)="save()"
    >
      Submit
    </button>
    <button
      appearance="flat"
      size="l"
      tuiButton
      type="button"
      class="tui-form__button"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
  }
</form>
}
